@font-face {
  font-family: 'Inter';
  src: url('Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Medium.woff2') format('woff2'),
    url('Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.woff2') format('woff2'),
    url('Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-SemiBold.woff2') format('woff2'),
    url('Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'inter', 'Arial', sans-serif;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  vertical-align: middle;
}

.container {
  width: 1280px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*                                                    HEADER SECTION STARTED */

.site-header {
  background: #282829;
}

.header-div {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
}

.header-title {
  margin: 0;
  padding: 0;
  display: flex;
}

.header-items {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 30px;
}

.header-links {
  color: #fff;
  text-decoration: none;
}

.hover:hover {
  color: #F78B3B;
}

.hover:active {
  color: rgba(247, 139, 59, 0.8);
}

/*                                                    HEADER SECTION FINESHED */


/*                                                    MAIN SECTION STARTED */




.container-inner {
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 420px;
  border-radius: 20px;
  background-image: url('../images/background-image1.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-top {
  margin: 0 auto;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 93px;
  text-align: center;
  width: 743px;
}

.background-image-text {
  margin: 0;
}



.main-designers {
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 393px;
  height: 136px;
  flex: none;
  order: 1;
  flex-grow: 0;
}



.cards {
  display: flex;
  column-gap: 30px;
}

.title-item {
  margin-top: 50px;
  background-repeat: no-repeat;
  width: 393px;
  height: 230px;
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.uxwriter {
  background-image: url('../images/li-1.png');
}

.content-reel {
  background-image: url('../images/li-2.png');
}

.annotations {
  background-image: url('../images/li-3.png');
}

.item-four {
  background-image: url('../images/li-4.png');
}

.item-five {
  background-image: url('../images/li-5.png');
}

.item-six {
  background-image: url('../images/li-6.png');
}

.bottom-item {
  text-align: center;
}

.items-div {
  width: 393px;
}

.item-subtitle {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.subtitle-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #000;
  opacity: 0.6;
  flex: none;
  order: 1;
  flex-grow: 0;
}



.bottom-card {
  text-align: center;
}

.background-picture {
  margin-top: 820px;
  width: 1240px;
  height: 500px;
  border-radius: 30px;
  background-image: url('../images/background-image2.png');
}

.bottom-text {
  width: 1098px;
  display: inline-block;
  margin-top: 43px;
}

.date-time {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.bottom-subject {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bottom-desc {
  margin: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}



/*                                                    MAIN SECTION FINESHED */



/*                                                    FOOTER SECTION STARTED */


.site-footer {
  margin-top: 75px;
  background-color: #282829;
}

.footer-div {}

.footer-title {
  padding: 0;
  margin: 0;
  padding-top: 81px;
  display: flex;
  justify-content: space-evenly;
}

.footer-item {}

.item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
}

.active:hover {
  color: #FF0000;
}

.active:active {
  color: rgba(255, 0, 0, 0.8);
}

.footer-socials {
  padding-top: 27px;
  display: flex;
  justify-content: center;
}

.footer-icons {
  margin-right:26px;
}

.footer-small {
  margin-top: 28px;
  padding-bottom: 80px;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  justify-content: center;
  color: #FFFFFF;
  opacity: 0.65;
}


/*                                                    FOOTER SECTION FINESHED */